# frpc.toml
serverAddr = "159.255.36.113"
serverPort = 7000

[[proxies]]
name = "ssh"
type = "tcp"
localIP = "127.0.0.1"
localPort = 22
remotePort = 6000

[[proxies]]
name = "web"
type = "http"
localPort = 8000
customDomains = ["159.255.36.113"]
